body {
  text-align: center;
  margin: 0;
  /* background-image: url("https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg"); */
  background-image: url("https://darthmojo.files.wordpress.com/2009/03/bsg-stars.png");
  background-size: cover;
  background-position: center;
  color: white;
}

h2, p, h3, h4, h1 {
  font-family: 'Exo', sans-serif;
}

h2 {
  font-size: 40px;
}

p {
  padding-bottom: 15px;
}

#mapid {
  height: 400px;
}

#planet-picture {
  height: 460px;
  width: 450px;
}

#hubble-picture {
  height: 600px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

#apod-picture {
  height: 600px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.arrow-right {
  text-decoration: none;
  border: none;
  background: transparent;
  color: white;
  font-size: 150px;
  display: inline-block;
  position: absolute;
  top: 40%;
  right: 10%;
}

.arrow-left {
  text-decoration: none;
  border: none;
  background: transparent;
  color: white;
  font-size: 150px;
  display: inline-block;
  position: absolute;
  top: 40%;
  left: 10%;
}

.center {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.container {
  background: transparent;
  width: 75%;
  margin-left: 12.5%;
  /* border: solid white;
  border-radius: 1%; */
  color: white;
}

.block {
  display: block;
}

.block-middle {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 10px  !important;
}

.navbar {
  font-family: 'Exo', sans-serif;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  background-color: transparent;
}

.home {
  display: flex;
  flex-grow: 8;
}


/* Links inside the navbar */
.navbar a {
  font-size: 16px;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}


/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: gray;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.back-button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  padding-right: 0px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.back-button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

 .back-button:after {
  content: ' <<';
  position: left;
  opacity: 0;
  top: 0;
  transition: 0.5s;
}

 .back-button:hover  {
  padding-right: 20px;
  background-color: white;
  color: black;
}

.back-button:hover:after {
  opacity: 1;
  right: 0;
}

.more-button {
    background-color: #f4511e;
    color: white;
    border-radius: 4px;
    border: none;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.more-button:hover {
    background-color: white;
    color: black;
